.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store

data/raw/*
!data/raw/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

models_artifacts/*
!models_artifacts/.gitkeep

*.parquet
*.csv
*.joblib
*.pkl
*.pt
*.bin
.env
